.board {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.robot {
  background: radial-gradient(circle, white -250%, transparent 40%), #3a47b7;
    border-radius: 60px 60px 10px 10px ;
    border-bottom: 40px double #f1eeee;
  }

.wall {
  background-color: #d91a1a;
}

.wall::after {
  content: "\d7";
  font-size: 20px;
  color: white;
  position: relative;

}

.app {
  display: flex !important;
  justify-content: center !important;
}

.comands {
  display: flex !important;
  justify-content: center !important;
  padding-bottom: 5px !important;
}

.buttons {
  display: flex !important;
  justify-content: center !important;
  gap: 5px;
  padding-top: 10px;
}

h1 {
  display: flex !important;
  justify-content: center !important;
  padding-top: 20px;
}

.report {
  display: flex !important;
  justify-content: center !important;
  padding: 6px;
  font-size: large;
}
.report-text {
  display: flex !important;
  justify-content: center !important;
  padding: 6px;
}

.instrucciones {
  display: block;
  position: relative;
  justify-content: center;
  padding-left: 500px;
}